body {
	margin: 0;
	padding: 0;
}
#top-bar {
	width: 100%;
	height: 100px;
	background-color: bisque;
}

#top-logo {
	display: block;
	float: left;
	width: auto;
	height: 100%;
	padding: 0 20px;
	font-size: 80px;
	line-height: 100px;
	background-color: white;
}

#top-login, #top-cart {
	display: block;
	float: right;
	width: auto;
	height: 100%;
	padding: 0 20px;
	font-size: 20px;
	line-height: 100px;
	background-color: white;
}

#front-banner {
	width: 100%;
	height: 360px;
	background-color: teal;
}

#site-wrapper {
	display: block;
	margin: 0 auto;
	max-width: 1300px;
	background-color: wheat;
}

#categories {
	height: 40px;
	background-color: orangered;
}

#categories.mini > .button {
	height: 100%;
	padding: 0;
	line-height: 40px;
	text-align: center;
	background-color: paleturquoise;
}

.button {
	float: left;
	width: 100px;
	height: auto;
	margin: 0 10px;
	padding: 5px;
	background-color: orange;
}

